.cardForm-color-preview__div {
  display: flex;
  justify-content: space-around;
  margin-top: 1em;
  padding: 0 1em;
}

.cardForm-preview__label {
  font-weight: bold;
	margin-bottom: 0.85em;
  font-size: 1em;
  text-align: center;
}

.cardForm-preview__card {
  width: 13em;
  height: 13em;
  text-align: center;
  padding: 1.5em;
  margin: auto;
  overflow-y: scroll;
  border: 1px solid #b6b6b6;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.cardForm-preview__card p {
  margin-top: 0;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
