.cardForm-preview__label {
  font-weight: bold;
}

.cardForm-preview__card {
  width: 8em;
  height: 8em;
  text-align: center;
  padding: 1.5em;
  margin: auto;
  overflow-y: scroll;
}

.cardForm-preview__card p {
  margin-top: 0;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

#cardColor {
  width: 3rem;
  height: 2rem;
  cursor: pointer;
  padding: 0.12rem;
}