.card-item {
    background-color: var(--card-bg, #fff8a5);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    color: black;
    min-width: 200px;
    max-width: 280px;
    width: 100%;
    min-height: 200px;
    height: 18em;
    padding: 1.5rem;
    margin-top: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-item__message {
    padding: 0.5rem;
}

.card-item__controls {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.card-item__controls button{
    color: black;
    background-color: var(--card-bg, #fff8a5);
    padding: 0.5em 1em;
}