.pop-up__overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000; /* Ensure it's on top */
}

.pop-up__content {
	color: black;
	background-color: white;
	width: 40%;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	display: flex;
	flex-direction: column;
}

.pop-up__content label {
	font-weight: bold;
	margin-bottom: 0.5em;
}

.pop-up__content input {
	background-color: white;
	color: black;
	padding: 0.5rem 0.75rem;
	border-radius: 5px;
	font-size: 0.85em;
	width: 80%;
}

.pop-up__content input:focus {
  outline: none;
  border: 2px solid #555; 
  box-shadow: 0 0 2px #aaa;
}

.pop-up__close {
	background-color: white;
	color: black;
	border: 0;
	align-self: flex-end;
}

/* Children Style */
.form-inputs {
	text-align: left;
	display: flex;
	flex-direction: column;
}

.form-inputs__input {
	display: flex;
	flex-direction: column;
	margin-bottom: 1em;
}

.form-submit__button {
	margin-top: 1em;
}

.form-input__error {
  box-shadow: 0 0 4px 2px rgba(255, 0, 0, 0.4); 
}

.form-error__msg {
  color: red;
  font-size: 0.85em;
  margin-top: 0.5em;
}


